# set your environment variables you need to pass to docker container here

## set your dbc profiles here; useful if you have more than one profile
dbProfile0=dbua-us-west
dbProfile1=dbua-eu-west-1
dbProfile2=dbua-eu-west-0

## directory containing all needed git repos be mounted in docker container
### path to directories usually already in local git dir, say, ${HOME}/all/git mounted via /root/GIT/
localgitdockerComposeDIRPATH=/root/GIT/lamastex/scalable-data-science/_sds/basics/infrastructure/onpremise/dockerCompose
### path to dbc archives usually not already in git
localgitdbcDIRPATH=/root/GIT/lamastex/scalable-data-science/dbcArchives/testing
localgitsiteDIRPATH=/root/GIT/lamastex/scalable-data-science/_sds/3/x/db
PINOTdir=/root/tilowiklund/pinot
MDBOOKdir=/root/GIT/lamastex/scalable-data-science/books/mdScaDaMaLeBook

