blockquote {
  max-height: 30em;
  overflow: auto;
  overflow-x: hidden;
}

table {
  display: block !important;
  max-width: 100%;
  max-height: 15em;
  overflow: auto;
}

body {
  unicode-bidi: embed;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

